body {
	background: red;
}

header {
	text-align: center;
}

#Teams > * {
	text-align: center;
}

h2 {
	color: white;
}

input:hover {
	transition: 500ms;
	transform: scale(1.25);
}
